.hero {
  color: white;
  height: 100vh;
  position: relative;
  backdrop-filter: blur(4px);
}

.hero .shimmer {
  text-stroke: 2px var(--accent-default);
  -webkit-text-stroke: 2px var(--accent-default);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 2s;
}

.heroAttribution {
  margin-left: 30px;
}
